@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
@section Styles {
    <link rel="stylesheet" href="~/css/identity.css" />
}

<h1 class="text-light">@ViewData["Title"]</h1>
<p class="text-swipe">
    Please check your email to reset your password.
</p>
