@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/identity.css" />
}
<div style="text-align: center;">
    <h1 class="text-light">Manage your account</h1>
    <h2 class="text-light text-muted">Change your account settings</h2>
</div>

<div>
    <hr />
    <div class="row"
        style="background-color: #2E2E2E; padding: 10px 0; border-width: 2px; border-color: #FFF; border-style: solid;">
        <div class="col-md-12">
            <partial name="_ManageNav" />
        </div>
    </div>
    <br>
    <div class="row" style="background-color: #2E2E2E; padding: 10px 0; border-width: 2px; border-color: #FFF; border-style: solid;">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
