@page
@model NotificationsModel
@{
    ViewData["Title"] = "Notifications";
    ViewData["ActivePage"] = ManageNavPages.Notifications;
}

<h3 class="text-light text-muted">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="NotificationEmail" class="form-control" placeholder="" disabled/>
                <label asp-for="NotificationEmail" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NotificationEmail" class="form-control" placeholder="Please enter your notification email."/>
                <label asp-for="Input.NotificationEmail" class="form-label"></label>
                <span asp-validation-for="Input.NotificationEmail" class="text-danger"></span>
            </div>
            <hr />
            <h3 class="text-light text-muted">Notifications</h3>
            <div class="row mx-1">
                <div class="form-check mb-3">
                    <input asp-for="Input.WeekBefore" class="form-check-input" />
                    <label class="form-check text-swipe" asp-for="Input.WeekBefore"></label>                
                </div>
                <div class="form-check mb-3">
                    <input asp-for="Input.DayBefore" class="form-check-input" />
                    <label class="form-check text-swipe" asp-for="Input.DayBefore"></label>
                </div>
                <div class="form-check mb-3">
                    <input asp-for="Input.DayOf" class="form-check-input" />
                    <label class="form-check text-swipe" asp-for="Input.DayOf"></label>
                </div>
            </div>
            <button id="update-notifications-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
