#map-container {
    width: 25%;
    height: 100%;
    /* Round edges */
    position: fixed;
}

#demo-map-id {
    width: 100%;
    height: 65vh;
    padding: 0;
    border-radius: 15px;
    /* Round edges */
    transition: width 0.025s linear;
}

.pagination-buttons {
    background-color: #1e1e1e;
    color: white;
    padding: 15px;
}

#back-page {
    background-color: #1e1e1e;
    color: white;

}

.page-number {
    background-color: white;
    color: #1e1e1e;
    padding: 15px 50px 15px 50px;
    margin-left: 5px;
    margin-right: 5px;
}
