/*Styles for the welcome page*/

/* Styles for the position */
.vertical-center {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/*Styles for the button*/ 
.button-container {
    display: flex;
    justify-content: start; 
}

.image-container img {
    max-width: 100%;
    height: auto; 
}

/* Media query for xxl screens */
@media (min-width: 1400px) {
    .text-xxl-start {
        text-align: start;
    }
}

.push-left {
    margin-left: -200px; 
    margin-top: -110px;
}


.text-light {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.text-find {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.text-swipe {
    font-weight: bold;
    color: #d35400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.event-button {
    background-color: #d35400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    position: relative; 
    overflow: hidden; 
    transition: color 0.3s ease;
    z-index: 1;
    text-decoration: none;
}

.event-button:hover {
    color: #d35400; 
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.event-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; 
    z-index: -1;
    transform: translateX(-100%); 
    transition: transform 0.3s ease; 
}

.event-button:hover::after {
    transform: translateX(0); 
}

.event {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

.event img {
    max-width: 100px;
    height: auto;
}

input:active,
input:focus {
    box-shadow: 0 0 0 0.1rem #dc9b4a, 0 0 0 0.2rem #ff6800;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: #313030;
    color: #d38100;
    border-color: #ffab74;
    border-radius: 10px;
}

div.form-floating > label {
    color: #d38100;
}

select.form-select {
    background-color: #313030;
    color: #d38100;
    border-color: #ffab74;
}

input::placeholder,
.form-control::placeholder {
    color: #cd6636;
}

.notification {
    margin: 0.5rem 0.5rem;
}

.hidden {
    display: none;
}

/* Tag stylings, to be expanded as-needed */
.tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #eee;
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 5px;
}

/* Recommended Events Page */
.recommended-event-card-container {
    background-color: #fac864;
    border-radius: 1rem;
    padding: 15px;
}

.date-overlay {
    position: absolute;
    top: 0; /* Adjust as needed */
    padding: 1rem; /* Adjust as needed */
    min-height: 250px;
    min-width: 20%;
    background-color: #000; /* Semi-transparent black */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.date-1 {
    font-size:50px;
}

.date-2 {
    font-size: 40px;
}

.button-overlay {
    bottom: 0; /* Adjust as needed */
    padding: 1rem; /* Adjust as needed */
}

.recommended-events-title-container {
    background-color: #1e1e1e;
    border-radius: 1rem;
}

.recommended-events-title {
    color: #FFF;
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recommended-events-image-container {
    position: relative;
    width: 100%;
    min-height: 250px; /* This will maintain a 2:1 aspect ratio (500x250) */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 1rem;
}

.recommended-events-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recommended-events-description-container {
    background-color: #1e1e1e;
    border-radius: 1rem;
}

.recommended-events-description {
    color: #FFF;
}

.recommended-events-date-container {
    background-color: #1e1e1e;
    border-radius: 1rem;
    margin-right: 16px; /* Add right margin to the date container */
    width: 48%;
    padding: 10px 10px 10px 14px;
}

.recommended-events-address-container {
    background-color: #1e1e1e;
    border-radius: 1rem;
    margin-left: 16px; /* Add left margin to the address container */
    width: 48%;
    padding: 10px 10px 10px 14px;
}

@media (max-width: 1400px) {
    .recommended-events-date-container,
    .recommended-events-address-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .recommended-events-address-container {
        margin-top: 15px;
    }
}

.recommended-events-date-row {
    padding: 10px;
}

.event-recommendation-buttons {
    color: black;
    background-color: #FFF;
}

.event-recommendation-buttons-2 {
    color: black;
    background-color: #FFF;
    margin: 5px 10px;
}

.carousel-item.recommended-event-card-container.specific-div {
    height: 56vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.out-of-recommended-events-container {
    background-color: #383838;
    border: 2px solid #FFF;
}

@media (max-width: 768px) {
    .right-arrow-anchor,
    .left-arrow-anchor,
    .arrow-left-div,
    .arrow-right-div {
        display: none;
        margin-top: 0 !important;
    }
}

