#register-submit,
#login-submit,
#forgot-password-submit,
#resend-email-submit,
#change-email-button,
#update-profile-button,
#change-password-button,
#download-personal-data-button,
#update-notifications-button,
#update-settings-button,
#external-login-google,
#external-register-google,
#link-login-button-Google,
a.btn.btn-primary,
button.btn.btn-primary {
    color: var(--btn-font-color);
    background-color: var(--swipe-font-color);
    border-color: #ffab74;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a.btn,
a.btn,
button.btn {
    border-radius: 10px;
}

#register-submit:hover,
#login-submit:hover,
#forgot-password-submit:hover,
#resend-email-submit:hover,
#change-email-button:hover,
#update-profile-button:hover,
#change-password-button:hover,
#download-personal-data-button:hover,
#update-notifications-button:hover,
#update-settings-button:hover,
#external-login-google:hover,
#external-register-google:hover,
#link-login-button-Google:hover,
a.btn.btn-primary:hover,
button.btn.btn-primary:hover {
    color: var(--btn-hover-color);
    background-color: var(--main-font-color);
}

a.btn.btn-danger,
button.btn.btn-danger,  
a.btn.btn-danger:hover,
button.btn.btn-danger:hover {
    color: black;
}

.nav-link.active.text-swipe {
    background-color: var(--swipe-font-color);
    font-weight: normal;
}

select.form-select,
select.form-select:focus {
    border-radius: 10px;
}

input.form-control:focus,
input.form-control:active,
select.form-select:focus,
select.form-select:active {
    outline: none;
    box-shadow: none;
    border-width: 2px;
    border-color: #d38100;
}

#google-image-prepend-login {
    background-color: #e32c2c;
    border-width: 0px;
}

#external-login-google {
    color: #FFF;
    background-color: #e94747;
}

.limited-width-login-form {
    max-width: 300px;
}

.limited-width-login-submit {
    max-width: 100px;
}


.password-prepend-identity, .username-prepend-identity {
    background-color: #feaf48;
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 2px solid #000;
    border-radius: 0 10px 10px 0;
}

.username-identity-form {
    background-color: #feb85d !important;
    color: #000 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.password-identity-form {
    background-color: #feb85d !important;
    color: #000 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.username-identity-form-label {
    color: #000 !important;
}

.password-identity-form-label {
    color: #000 !important;
}

.log-in-submit-identity {
    background-color: #feaf48 !important;
    color: #000 !important;
}

.log-in-submit-identity:hover {
    background-color: #feb85d !important;
    color: #000 !important;
}

.log-in-submit-identity:active {
    background-color: #feaf48 !important;
    border-color: #feaf48;
    outline: none;
    box-shadow: 0 0 0 2px #feaf48;
}

.log-in-submit-identity:focus {
    background-color: #feb85d !important;
    border-color: #feb85d;
    outline: none;
    box-shadow: 0 0 0 2px #feaf48;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.center-form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* This will stack the children vertically */
}

.left-align-content {
    text-align: left;
}


.right-align-content {
    text-align: right;
}

.form-label {
    color: #FFF;
}

.login-questions {
    color: #FFF;
}

.login-questions:hover {
    color: #feaf48;
}

.login-checkbox-identity {
    border-color: #feaf48;
    border-width: 2px;
}

.login-checkbox-identity-all {
    margin-top: 20px;
}

.shorter-button {
    height: 70%;
    margin-top: 10px;
}

.login-checkbox-identity:checked {
    background-color: #feaf48;
}

.login-checkbox-identity:focus {
    outline: none;
    box-shadow: 0 0 0 2px #feaf48;
    border-color: #feaf48;
}
