@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


#demo-map-id {
  width: 100vw;
  height: 75vh;
  padding: 0;
  margin: 10px 10px 10px 10px;
  border-radius: 15px;
  /* Round edges */
  transition: width 0.025s linear;

}

#event-info {
  padding: 0;
  margin: 10px 10px 10px 10px;
  border-radius: 15px;
  /* Round edges */
  border: 1px solid #ddd;
  animation: fadeIn 0.25s linear;
}

#name {
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

#date {
  text-align: center;
  color: white;
  margin: 10px 10px 10px 10px;
}

#description {
  text-align: center;
  font-size: 1rem;
  color: white;
  margin: 10px 10px 10px 10px;
}

#image {
  width: 50%;
  height: auto;
  margin: 10px auto; /* Top and bottom margins are 10px, left and right margins are auto */
  border-radius: 15px;
  display: block; /* This allows the use of margin: auto for centering */
}