@{
    ViewData["Title"] = "Explore";
}
@section Styles {
    <link href="~/css/components/searchbar.css" rel="stylesheet" />
}

<partial name="EventSearch" />

<div class="container px-5">
    <div class="row">
        <div class="col-7">
            <div class="container px-5 text-light" id="events-container"></div>
        </div>
        <div class="col-5">
            <div id="map-container" style="position: fixed">
                <div id="demo-map-id">
                    <!-- Map goes here -->
                </div>
            </div>
        </div>
    </div>
</div>

@* back/next page buttons, and page number *@
<div class="pagination justify-content-center m-5">
    <button disabled id="previous-page-button" class="btn rounded-pill pagination-buttons">0</button>
    <div id="page-number" class="rounded-pill page-number">1</div>
    <button id="next-page-button" class="btn rounded-pill pagination-buttons">2</button>
</div>

@* This is to load the unauthorized modal that can be found in Shared/_LoginUnauthorizedModal.cshtml*@
<partial name="_LoginUnauthorizedModal" />

<partial name="_EventDetailsModal" />


@* This is the container for the "toasts" that appear on the side of the screen when favoriting/unfavorating*@
<div id="toastContainer"></div>

@* Loads EventCard template component *@
<partial name="_EventCard" />

@section Scripts {
    <script type="module" src="~/js/explore.js" asp-append-version="true"></script>
}
