@{
    ViewData["Title"] = "Explore";
}
@section Styles {
    <link href="~/css/components/searchbar.css" rel="stylesheet" />
}


<partial name="EventSearch" />
<div class="container px-5">
    <div class="row">
        <div class="col-7">
            <div class="container px-5 text-light" id="events-container"></div>
        </div>
        <div class="col-5">
            <div id="map-container">
                <div id="demo-map-id">
                    <!-- Map goes here -->
                </div>
                <div id="loading-overlay">
                    <div class="spinner"></div>
                </div>
                <div id="map-helper-text-container">
                    <div class="helper-text">
                        <p id="">Drag the map to find new events!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* back/next page buttons, and page number *@
    <div id="pagination" class="pagination justify-content-center" style="display: none;">
        <button disabled aria-label="Previous page of events" id="previous-page-button" class="btn rounded-pill pagination-buttons">0</button>
        <div aria-label="Current event page" id="page-number" class="rounded-pill page-number">1</div>
        <button aria-label="Next page of events." id="next-page-button" class="btn rounded-pill pagination-buttons">2</button>
    </div>

    <div class="row weather-preview" id="weather-preview">
        <h6 class="text-light">Weather Preview</h6>
        <hr />
        <div id="weather-preview-container" class="d-flex">
            <!-- Weather cards go here -->
        </div>
    </div>

    <!-- Add the saved locations container here -->
    @* This is to load the unauthorized modal that can be found in Shared/_LoginUnauthorizedModal.cshtml*@
    <partial name="_LoginUnauthorizedModal" />

    <partial name="_EventDetailsModal" />

    <partial name="_ViewVenueModal" />

    @* This is the container for the "toasts" that appear on the side of the screen when favoriting/unfavorating*@
    <div id="toastContainer"></div>

    @* Loads EventCard template component *@
    <partial name="_EventCard" />

    @* Loads PlaceholderEventCard template component*@
    <partial name="_PlaceholderEventCard" />

    @* Loads WeatherCard template component *@
    <partial name="_WeatherCard" />
</div>

@section Scripts {
    <script type="module" src="~/js/explore.js" asp-append-version="true"></script>
    <script type="module" src="~/js/util/mapFetching.js"></script>
    <script type="module" src="~/js/util/loadMapScript.js"></script>
    <script type="module" src="~/js/util/mapLoadingSpinners.js"></script>
}