@{
    ViewData["Title"] = "Explore Page";
}

<h1 class="container text-light px-5 " id="search-title"></h1>
<div class="container px-5 text-light" id="eventsContainer"></div>


@section Scripts {
    <script type="module" src="~/js/viewEvents.js" asp-append-version="true"></script>
}
