@{
    ViewData["Title"] = "History Page";
}

<div>

    <div class="container text-light">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">History</h1>
                <p>Here's a list of all the events you've viewed.</p>
            </div>
        </div>
        <div id="event-history-card-container">
        </div>
    </div>
</div>

<template id="event-card-template">
    <div class="row text-dark mb-3">
        <div class="col-12">
            <div class="card border-0">
                <div class="card-body" id="event-card-body">
                    <h5 class="card-title" id="event-name">Event Name</h5>
                    <p class="card-text" id="event-description">Event Description</p>
                    <p class="card-text" id="event-datetime">Event Date and time</p>
                    <p class="card-text" id="event-location">Event Location</p>
                </div>
            </div>
        </div>
    </div>
</template>

@section Scripts {
    <script src="~/js/history.js" asp-append-version="true"></script>
}
