@{
    ViewData["Title"] = "History Page";
}
@*This section is hidden by default and only shown if the user is not logged in.*@
<div id="login-prompt" style="display: none;">
    <h1>Access Restricted</h1>
    <h3>You need to be logged in to access this feature. Please <a href="/Identity/Account/Login">log in</a> or <a
            href="/Identity/Account/Register">sign up</a>.</h3>
</div>

<div id="no-history-message" style="display: none;">
    <h3>You have no previously viewed events. Go to the <a href="/Home/Explore">explore</a> page to find some!</h3>
</div>

<div id="history-container" style="display: none;">
    <div class="container text-light">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">History</h1>
                <p>Here's a list of all the events you've viewed.</p>
            </div>
        </div>

        <div id="event-history-card-container">
        </div>
    </div>
</div>

<div id="toastContainer"></div>

<partial name="_EventCard" />
<partial name="_EventDetailsModal" />

@section Scripts {
    <script type="module" src="~/js/history.js" asp-append-version="true"></script>
}
