@{
    ViewData["Title"] = "History Page";
}
@*This section is hidden by default and only shown if the user is not logged in.*@
<div id="login-prompt" style="display: none;">
    <h1>Access Restricted</h1>
    <h3>You need to be logged in to access this feature. Please <a aria-label="Log in link" href="/Identity/Account/Login">log in</a> or <a
            aria-label="Register account link" href="/Identity/Account/Register">sign up</a>.</h3>
</div>


<div class="container">
    <div id="no-history-events-container" class="row">
        <div id="no-history-message-container" class="col-8">
            <div id="no-history-message" style="display: none;">
                <h3>You have no previously viewed events. Go to the <a href="/Home/Explore">explore</a> page to find some!</h3>
            </div>
        </div>
        <div id="no-history-img-container" class="col-4" style="display: none;">
            <img alt="PopNGo Logo Image" src="~/media/images/placeholder_event_card_image.png" id="no-history-img" class="img-fluid" alt="No history events image">
        </div>
    </div>
</div>

<div id="history-container" style="display: none;">
    <div class="container text-light">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">History</h1>
                <p>Here's a list of all the events you've viewed.</p>
            </div>
        </div>
        <partial name="_FilterDropdown" />

        <div id="event-history-card-container">
        </div>
    </div>
</div>

<div id="no-events-found-filter-message" style="display: none;">
    <h3>
        No events found matching the selected filters.
    </h3>
</div>

<div id="toastContainer"></div>

<partial name="_EventCard" />
<partial name="_EventDetailsModal" />
<partial name="_ViewVenueModal" />

@section Scripts {
    <script type="module" src="~/js/history.js" asp-append-version="true"></script>
}
