@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About Pop & Go!</h1>
    <p> Imagine an app that keeps you in the loop about all the exciting events happening around you!</p>
</div>
<h2>How it Works:</h2>
<p class="card">

    <h3>1. Tailored Notifications 📬:</h3>
    Receive personalized notifications for events in your community based on your interests. Whether it's a local gathering or a corporate event, Pop&Go filters through the noise to bring you what you love.

    <h3>2. Custom Interest Alerts 🎵🍔:</h3>
    Love sports? Into music or food? Set your preferences, and Pop&Go will notify you about events matching your interests. It's like having your own event concierge!

    <h3>3. Travel-Ready Feeds 🌍:</h3>
    Heading to a new city? Pop&Go adapts! If you're in Rome, for instance, expect feeds showcasing events, restaurants, and activities just like the ones you enjoy back home.

    <h3>4. Swipe through Events 👉👈:</h3>
    Picture Tinder, but for events! Swipe left to discard, swipe right to express your interest in an event. It's a fun and intuitive way to discover what excites you.

    <h3>5. Flip for More Details 🔄:</h3>
    Curious about an event? A simple click flips the card, revealing more information about the activity, including date, time, venue, and highlights.

    With Pop&Go, you're not just attending events; you're curating your experiences. It's your go-to app for staying connected with your community and discovering new adventures.
</p>
