@{
    ViewData["Title"] = "Itinerary";
}
@section Styles {
    <link rel="stylesheet" href="~/css/itinerary.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
}

@* This should be shown if the users are not logged in *@
<div id="login-prompt" style="display: none;">
    <h1>Access Restricted</h1>
    <h3>
        You need to be logged in to access this feature. Please <a href="/Identity/Account/Login" class="text-swipe">log in</a> or <a href="/Identity/Account/Register" class="text-swipe">sign up</a>.
    </h3>
</div>

@* This show when the itinerary sections/items are empty *@
<div id="no-itinerary-message" style="display: none;" class="alert alert-warning">
    You have not created any itineraries yet. Go to the <a href="/Home/Explore" class="text-swipe">Explore page</a> to find events and create your itinerary.
</div>

@* This should show when there are itinerary items *@
<div class="container mt-5">
    <div id="itinerary-content" style="display: none;">
    </div>
</div>

<!-- Modal for Place Suggestions -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button id="closeModalBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Add to Itinerary</button>
                <button class="btn btn-primary" id="getDirectionsBtn" data-bs-toggle="modal" data-bs-target="#directionsModal">Get Directions</button>
                <button id="closeModalBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Directions -->
<div class="modal fade" id="directionsModal" tabindex="-1" aria-labelledby="directionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="directionsModalLabel">Directions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="directionsModalBody">
                <!-- Directions content will be injected here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<partial name="_ItineraryAccordion" />
<partial name="_ItineraryEvent" />

@* This is the container for the "toasts" that appear on the side of the screen when favoriting/unfavorating *@
<div id="toastContainer"></div>

@section Scripts {
    <script type="module" src="~/js/itinerary.js"></script>
}