@{
    ViewData["Title"] = "Itinerary Page";
}


@* This should be shown if the users are not logged in *@
<div id="login-prompt" style="display: none;">
    <h1>Access Restricted</h1>
    <h3>
        You need to be logged in to access this feature. Please <a href="/Identity/Account/Login">log in</a> or <a href="/Identity/Account/Register">sign up</a>.
    </h3>
</div>

@* This show when the itinerary sections/items are empty*@
<div id="no-itinerary-message" style="display: none;" class="alert alert-warning">
    You have not created any itineraries yet. Go to the <a href="/Home/Explore">Explore page</a> to find events and create your itinerary.
</div>


@* This shouls show when there are itnerary items *@
<div class="container mt-5">
    <div class="accordion" id="accordionExample" style="display: none;">
        <!-- Initially hidden -->
        <!-- Content dynamically injected here -->
    </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@section Scripts {
   <script type="module" src="~/js/itinerary.js"></script>
}

