#event-modal-img {
    border-radius: 15px;
}

#modal-event-card-tags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5%;
}

.event-modal-headers {
    margin-top: 5%;
}

.event-modal-description-text {
    background-color: #D9D9D9;
    color: black;
    border-radius: 15px;
    padding: 10px;
    font-weight: lighter;
}

.event-modal-tag {
    background-color: lightcoral;
    padding: 0px 2% 0px 2%;
    margin-right: 5px
}
