/* Event Tickets Venue Modal */

#buy-tickets-modal {
    position: fixed;
    z-index: 2000; /* Higher than the existing modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none; /* Make sure this is set to none */
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

/* View Venue Modal */
#view-venue-modal {
    position: fixed;
    z-index: 2000; /* Higher than the existing modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none; /* Make sure this is set to none */
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

/* /////////////////////////////// */

.modal-content-2 {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-height: 80vh;
    /* Set a maximum height */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.modal-dialog-2 {
    position: absolute; /* Changed from relative to absolute */
    top: 50%; /* Position at 50% from the top */
    left: 50%; /* Position at 50% from the left */
    transform: translate(-50%, -50%); /* Centers the element */
    max-width: 50vw;
    width: auto;
}

#ticket-links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.dropdown-menu {
    /* Add styles for the dropdown menu here */
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    /* Add styles for the dropdown items here */
    color: #212529;
    padding: 0.25rem 1.5rem;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #ff9800;
}