/* Form Styles Modal Container */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    /* Add padding to the top to account for the navbar */
}

.modal-dialog {
    position: relative;
    max-width: 50vw;
    width: auto;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-height: 80vh;
    /* Set a maximum height */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

#event-details-modal {
    display: none;
}

/* Buttons Container */

#buttons-container {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
}


#right-buttons {
    display: flex;
}

/* Add a right margin to the buy-tickets-btn */
#buy-tickets-btn {
    margin-right: 10px;
}

/* /////////////////////////////////////////// */

#event-modal-img {
    border-radius: 15px;
    max-width: 500px;
    /* Set the maximum width to 500px */
    height: auto;
    /* Set the height to auto to maintain aspect ratio */
    align-self: center;
}

#modal-event-card-tags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1%;
}

.event-modal-headers {
    margin-top: 1%;
}

.event-modal-description-text {
    background-color: #D9D9D9;
    color: black;
    border-radius: 15px;
    padding: 10px;
    font-weight: lighter;
}

.event-modal-tag {
    background-color: lightcoral;
    padding: 0px 2% 0px 2%;
    margin-right: 5px
}

.stars {
    margin-left: 10px;
}

.star {
    font-size: 25px;
    color: #ddd;
}

.star[data-value="1"],
.star[data-value="2"],
.star[data-value="3"],
.star[data-value="4"],
.star[data-value="5"] {
    color: #ffc107;
}
