/* Date Range Component */
#filter-dropdown-container {
    display: flex;
    padding-bottom: 30px;
}

#date-range-container {
    flex: 1;
    background-color: #1e1e1e;
    border-radius: 10px;
}

#date-range-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#date-range-text {
    text-align: center;
    font-size: 40px;
    transform: translateY(20px);
    color: white;
}

#date-range-container span {
    font-size: x-large;
    transform: translateY(-20px);
    color: white;
}

#start-date, #end-date {
    background-color: black;
    color: white;
    border: 1px solid #FEAF48;
    width: 40%;
    margin: 15px;
    padding: 10px;
    transform: translateY(-20px);
}

/* Color of the calender icon on the date input */
#start-date::-webkit-calendar-picker-indicator,
#end-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#filters-container {
    flex: 1;
    padding: 10px;
}

/* End of Date Range Component */


/* Filters Components */
#filters-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 164px;
    transform: translateY(-10px);

}

#filters-container .form-control {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc((164px - 20px) / 3); /* Adjusts the base height of the form controls */
}

#filter-button-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 10px;
    flex-basis: calc((164px - 20px) / 3); /* Adjusts the base height of the last row */
}

#sort-alphabetical, #filter-button, #sort-rating, #sort-date {
    flex: 1;
    height: 100%; /* Ensures that they take up the full height of their parent container */
}

#filter-tag-dropdown {
    margin-left: 10px;
}

#filters-container select {
    background-color: #1e1e1e !important;
    color: white !important;
    border-radius: 10px;
    border: 0;
    appearance: none; /* Remove default select dropdown arrow */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>') no-repeat right 10px center; /* Adjust the horizontal position of the arrow */
    padding-right: 10px; /* Add padding to prevent text from overlapping with the arrow */
}

/* Styles the dropdown arrow on hover */
/* #filters-container select:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
} */

#filter-button {
    margin-left: 10px;
    color: white;
}

#no-events-found-filter-message h3 {
    color: white;
    text-align: center;
    margin-top: 20px;
}
#date-range-container {
    position: relative;
}

#invalid-feedback {
    visibility: visible; /* Set to visible for testing */
    background-color: #f44336;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 999;
    bottom: -40px; /* Adjust as needed */
    left: 0%;
    
}

#date-range-container:hover #invalid-feedback {
    opacity: 1;
}
