.search-event {
    input,
    select,
    label {
        border-radius: 5px;
        border-color:transparent;
    }

    input:active,
    select:active,
    input:focus,
    select:focus,
    button:active,
    button:focus {
        outline: none;
        box-shadow: none;
        border-width: 2px;
        border-color: #d38100;

    }

    #search-event-input {
        border-color: #313030;
        border-right-color: gray;
    }

    #search-event-input:focus {
        border-color: #d38100; /* Change to the color you want */
        border-width: 2px; /* Change to the color you want */
    }


    /* .form-floating > .form-control:focus, 
    .form-floating > .form-control:not(:placeholder-shown) {
        ~ label.text-search-label {
            opacity: 0.75;
        }
    } */

    .onhover i {
        filter: invert(38%) sepia(62%) saturate(3783%) hue-rotate(14deg) brightness(92%) contrast(89%);
    }
    .onhover :hover {
        opacity: 0.75;
        transition: opacity 0.5s ease-in-out;
    }

    .onhover :active {
        opacity: 1.0;
        filter: invert(53%) sepia(62%) saturate(3783%) hue-rotate(14deg) brightness(92%) contrast(89%);
    }

    #no-events-section,
    #searching-events-section {
        background-color: rgba(93, 57, 0, 0.5);
        border-color: #d38100;
        color: #d38100;
    }
}

.highlight {
    color: #ff9800;
    text-align: center;
}

.search-text {
    color: white;
}

#search-text-container {
    height: 58px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
}

#search-bar-container, #country-state-city-select-container {
    flex: 1;
}

#country-state-city-select-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    justify-content: space-between;
}

#search-bar-container {
    margin: 0 auto;
    width: 100%;
    border-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#search-event-input {
    /* margin-right: 5px; */
    border-width: 0;
}

#search-event-button {
    background-color: #ff9800;
    border-radius: 5px;
    border-width: 0;
    border-color: none;
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: none;
    padding: 0;
    overflow: hidden;
}

#search-event-button:hover {
    background-color: #ffca2c; /* Change this to the color you want */
}

#search-event-button i {
    color: white;
}

#location-select {
    width: 276px;
    max-width: 276px;
    /* min-width: 276px; */
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    height: 58px;
    
}

.form-select {
    border-width: 0;
    appearance: none;
    -webkit-appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='orange' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round'><path d='M6 9l6 6 6-6'></path></svg>") no-repeat right center;
    background-color: #313030;
    background-size: contain;
}

#search-bar-buttons-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; /* Adjust as needed */
    height: 58px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#save-location-button, #view-saved-locations-button, #filter-dropdown {
    height: 58px;
    min-height: 58px;
    margin: 5px;
    font-size: 1rem;
}

#filter-dropdown option {
    color: #d38100; /* Replace with the color you want */
}

#filter-dropdown:hover {
    color: #d38100;
}

#save-location-button {
    display: block;
}

#flex-container {
    display: flex;
    justify-content: space-between;
}

#right-align-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 144px;
    right: 20px;
}

@media (max-width: 1669px) {
    #right-align-container {
        display: none;
    }
}

#search-bar-buttons-container {
    order: 1;
}

#saved-locations-container {
    order: 2;
}

#country-select,
#state-select,
#city-select,
#filter-select,
#distance-container {
    width: 100%;
    margin-top: 10px;
    height: 58px;
}

#country-select {
    /* padding-right: 5px; */
}

#state-select,
#city-select,
#filter-select,
#distance-container {
    /* padding-left: 5px;
    padding-right: 5px; */
}

#distance-container {
    /* width: 115px; */
}

#filter-dropdown {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='orange' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round'><path d='M6 9l6 6 6-6'></path></svg>") no-repeat right center;
    background-color: #313030;
    background-size: contain;
    text-align: left;
}

#filter-select {
    position: relative;
}

#label-filter-select {
    z-index: 4;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
}

/* Styles for min-width: 375px  - Mobile M */
/* Styles for min-width: 425px  - Mobile L */
@media (min-width: 425px) {
}

/* Styles for min-width: <576 - xs Bootstrap breakpoint */
@media (min-width: 576px) {

}
/* Styles for min-width: 768px  - Tablet and Bootstrap md breakpoint*/
@media (min-width: 768px) {
    #country-select,
    #state-select,
    #city-select,
    #filter-select,
    #distance-container {
        max-width: 280px;
    }

    #search-event-button {
        margin-right: unset;
    }
}

/* Styles for min-width: 992px - Bootstrap lg breakpoint */
@media (min-width: 992px) {
    #country-select,
    #state-select,
    #city-select,
    #filter-select,
    #distance-container {
        width: 18%;
        max-width: unset;
    }

    #search-event-button {
        width: 60px;
        margin-left: unset;
    }
}

/* Styles for min-width: 1024px - Laptop */
@media (min-width: 1024px){
}
/* Styles for min-width: 1200px - Bootstrap xl breakpoint */
@media (min-width: 1200px) {
}
/* Styles for min-width: 1400px - Bootstrap xxl breakpoint */
@media (min-width: 1400px) {
}
/* Styles for min-width: 1440px - Laptop L */

/* Styles for min-width: 1600px */
@media (min-width: 1600px) {
}

/* Styles for min-width: 2560px - 4K */
@media (min-width: 2560px) {
}