<h1 id="favorite-events-title" class="text-light" style="text-align: center;">Bookmarks</h1>

<partial name="_FilterDropdown" />

@*Favorite events go here*@
<div id="favorite-events-container"></div>

@*This section is hidden by default and only shown if the user is not logged in.*@
<div id="login-prompt" style="display: none;">
    <h1>Access Restricted</h1>
    <h3>You need to be logged in to access this feature. Please <a href="/Identity/Account/Login">log in</a> or <a
            href="/Identity/Account/Register">sign up</a>.</h3>
</div>

<partial name="_BookmarkListCard" />
<partial name="_NewBookmarkListCard" />
<partial name="_EventCard" />
<partial name="_EventDetailsModal" />
<partial name="_ViewVenueModal" />
<partial name="_DeleteBookmarkListConfirmationModal" />
<partial name="_EditBookmarkListModal" />
<partial name="_DeleteFavoriteEventConfirmationModal" />

<div id="toastContainer"></div>

<div class="container">
    <div id="bookmark-list-cards-container" class="row">
    </div>
</div>

<div class="container">
    <div id="favorite-events-container" class="row">
    </div>
</div>

<div id="no-events-found-filter-message" style="display: none;">
    <h3>
        No events found matching the selected filters.
    </h3>
</div>

@section Scripts {
    <script type="module" src="~/js/favorites.js"></script>
}
