@* BookmarkListCard holding the bookmark list name and quantity of events inside. *@

<template id="bookmark-list-card-template">
    <div class="bookmarkListCard">
        <div class="bookmarkListCardTitleText">
            Card Title!
        </div>
        <div class="bookmarkListBottomRow">
            <div class="bookmarkListUtilityButtonsContainer">
                <div class="bookmarkListCardEditButton bookmarkListCardUtilityButton">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="bookmarkListCardDeleteButton bookmarkListCardUtilityButton">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="bookmarkListQuantityContainer">
                <div class="bookmarkListCardQuantityText">
                    23
                </div>
            </div>
        </div>
    </div>
</template>
