<div id="delete-favorite-event-confirmation-modal" class="modal-unauthorized pop-in">
  <div class="modal-content-unauthorized">
    <div class="modal-header">
      <h2 id="delete-favorite-event-confirmation-modal-title">Are you sure you want to remove this event from this list?</h2>
    </div>

    <div class="modal-footer">
      <button aria-label="Confirm deletion of event." id="delete-favorite-event-confirmation-button" class="btn btn-danger">Delete</button>
      <button aria-label="Cancel deletion of event." id="cancel-delete-favorite-event-confirmation-button" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</div>
