<div id="edit-bookmark-list-modal" class="modal-unauthorized pop-in">
  <div class="modal-content-unauthorized">
    <div class="modal-header">
      <h2 id="edit-bookmark-list-modal-title">Enter a new name for "Bookmark list name"</h2>
    </div>

    <div class="modal-body">
      <input aria-label="Enter name of bookmark list." id="edit-bookmark-list-modal-title-input" type="text" class="newBookmarkListCardTitleInput" />
    </div>

    <div class="modal-footer">
      <button aria-label="Save changes to bookmark list." id="save-edit-bookmark-list-button" class="btn btn-primary">Save</button>
      <button aria-label="Cancel changes of bookmark list." id="cancel-edit-bookmark-list-button" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</div>
