<div id="event-details-modal" class="modal pop-in" role="dialog">
    <!-- Modal content -->
    <div class="modal-dialog modal-extra-lg" role="document">
        <div class="modal-content">
            <img alt="Event Image" id="event-modal-img" src="~/media/images/placeholder_event_card_image.png" />
            <div id="modal-event-card-tags-container">
                <div class="event-modal-tag rounded-pill">Tag1</div>
                <div class="event-modal-tag rounded-pill">Tag2</div>
                <div class="event-modal-tag rounded-pill">Tag3</div>
            </div>
            <input type="text" hidden id="event-id" value="0" />
            <div class="original-post-link-container">
                <a aria-label="View original event post link." id="original-post-link"
                    class="btn btn-warning original-post-link" href="">
                    View Original Event Post
                </a>
            </div>

            <h2 id="event-modal-title" class="event-modal-headers">Event title</h2>
            <div id="modal-event-description" class="event-modal-description-text">
                This is a description test, this is a description test, this is a description test, this is a
                description test, this is a description test, this is a description test, this is a description test,
            </div>

            <h5 class="event-modal-headers">Date & time</h5>
            <div id="event-modal-date" class="event-modal-description-text">
                04/21/2024 7pm
            </div>

            <h5 class="event-modal-headers">Location</h5>
            <div id="event-modal-location" class="event-modal-description-text">
                1234 Street st. NW Salem, Oregon 97123
            </div>

            <div id="buttons-container">
                <div aria-label="Add event to Google calendar button." id="add-to-calendar-btn"
                    title="Add this event to a Google Calendar"></div>
                <div class="dropdown">
                    <button aria-label="Add event to itinerary button." id="add-to-itinerary-btn"
                        class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Add to itinerary
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="add-to-itinerary-btn" id="itinerary-list">
                        <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#new-itinerary-modal"
                                aria-label="Create new itinerary button.">Create new itinerary</button></li>
                    </ul>
                </div>

                <div id="right-buttons">
                    <div id="buy-tickets-btn" title="Buy tickets for this event">
                        <button aria-label="Buy tickets link." id="buyTicketsBtn"
                            class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Buy Tickets
                        </button>
                        <div class="dropdown-menu" aria-labelledby="buyTicketsBtn">
                            <!-- Dropdown items will be added here by JavaScript -->
                        </div>
                    </div>
                    <div id="view-venue-btn" title="View information about the venue"></div>
                </div>
            </div>
        </div>
    </div>
</div>

