<div id="filter-dropdown-container" style="display: none;" class="row">
    @* Date Range Component *@
    <div id="date-range-container">
        <h3 id="date-range-text">Date Range</h3>

        <div>
            <div id="invalid-feedback" class="invalid-feedback">
                Start date cannot be before end date.
            </div>
            <input aria-label="Enter the start date range." type="date" id="start-date" name="start-date">
            <span> to </span>
            <input aria-label="Enter the ending date range." type="date" id="end-date" name="end-date">
        </div>
    </div>
    @* ******************** *@

    @* Filters Components *@
    <div id="filters-container">
        <div id="filter-button-row">
            <select id="sort-date" class="form-control">
                <option value="" disabled selected>Filter by Date</option>
                <option value="">Any</option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <select id="filter-tag-dropdown" class="form-control">
                <option value="" disabled selected>Filter by Tag</option>
                @* Populate in js *@
            </select>
        </div>

        <div id="filter-button-row">
            <select id="sort-rating" class="form-control">
                <option value="" disabled selected>Filter by Venue Rating</option>
                <option value="">Any</option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </div>

        <div id="filter-button-row">
            <select id="sort-alphabetical" class="form-control">
                <option value="" disabled selected>Filter Alphabetically</option>
                <option value="">Any</option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>

            <button aria-label="Apply event filters button." id="filter-button" class="btn btn-caution">Apply Filters</button>
        </div>
    </div>
    @* ******************** *@
</div>
