<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img id="filter-icon" src="../../media/images/filter.png" alt="Filter recently viewed events."> Filter
  </button>
  <div class="dropdown-menu" aria-labelledby="filterDropdownButton">
    <a class="dropdown-item" href="#">Op 1</a>
    <a class="dropdown-item" href="#">Op 2</a>
    <a class="dropdown-item" href="#">Op 3</a>
  </div>
</div>

<div id="sidebar" style="display: none;">
    <p>SIDEBARRRRR</p>
</div>