<template id="itinerary-event-template">
    <div class="single-timeline-area" data-event-id="${eventData.apiEventID}" data-itinerary-id="${itineraryId}">
        <div class="row">
            <div class="col">
                <div class="card mb-3 bg-dark text-white">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-4">
                            <img id="event-image" src="${eventImage}" class="img-fluid rounded-start img-event" alt="${eventData.eventName} Image">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body px-md-4 mx-md-4">
                                <h5 class="card-title pt-4" id="event-title"></h5>
                                <p class="text-muted" id="event-date"></p>
                                <div id="event-tags-container"></div>
                                <p class="card-text" id="event-location"></p>
                                <div class="card-text">
                                    <p class="text-light">Remind me before the event at </p>
                                    <select class="form-select" id="reminder-time-select">
                                        <option value="quarter-hour">15 minutes</option>
                                        <option value="half-hour">30 minutes</option>
                                        <option value="hour">1 hour</option>
                                        <option value="two-hours">2 hours</option>
                                        <option value="three-hours">3 hours</option>
                                        <option value="six-hours">6 hours</option>
                                        <option value="one-day">1 day</option>
                                        <option value="custom">Custom</option>
                                    </select>
                                    <div class="form-floating" id="reminder-time-div" style="display: none;">
                                        <input type="datetime-local" class="form-control" id="reminder-time" placeholder="Custom reminder time" aria-labelledby=".reminder-label">
                                        <label for="reminder-time" class="reminder-label" aria-label="Custom reminder time">Custom reminder time</label>
                                    </div>
                                    <button aria-label="Save reminder button" class="btn save-reminder-btn" id="save-reminder-button" data-event-id="${eventData.apiEventID}" data-itinerary-id="${itineraryId}">Confirm</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 delete-event-container">
                            <button aria-label="Delete event in itinerary button" class="btn btn-danger delete-event-btn" id="delete-event-button" data-event-id="${eventData.apiEventID}" data-itinerary-id="${itineraryId}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="single-timeline-area p-0 px-0 pb-3" id="event-recommendations" data-event-id="${eventData.apiEventID}" data-itinerary-id="${itineraryId}" data-latitude="${eventData.latitude || ''}" data-longitude="${eventData.longitude || ''}">
                    <p class="text-light">Recommended Places Near the event</p>
                    <div class="btn btn-warning text-light" id="hotels-button-${eventData.latitude}-${eventData.longitude}">Hotels</div>
                    <div class="btn btn-warning text-light" id="food-button-${eventData.latitude}-${eventData.longitude}">Food</div>
                    <div class="btn btn-warning text-light" id="coffee-button-${eventData.latitude}-${eventData.longitude}">Coffee</div>
                    <div class="pt-4 text-light" id="suggestions-container-${eventData.latitude}-${eventData.longitude}"></div>
                </div>
            </div>
        </div>
    </div>
</template>