<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PopNGo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/explore.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homeStyles.css" asp-append-version="true" />
    @* Components/partial views *@
    <link rel="stylesheet" href="~/css/components/eventCard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/eventDetailsModal.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/PopNGo.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm custom-navbar border-0 box-shadow mb-3">
            <div class="container px-5">
                <a id="home-logo" class="navbar-brand text-light onhover" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg width="40pt" height="40pt" viewBox="0 0 483.000000 568.000000">
                        <g transform="translate(0.000000,568.000000) scale(0.100000,-0.100000)" fill="#FFFFFF">
                            <path d="M2186 5640 c-611 -77 -1094 -452 -1260 -979 -61 -194 -69 -395 -22
-586 82 -335 347 -912 697 -1519 l58 -101 -37 -8 c-382 -85 -594 -156 -832
-278 -160 -81 -288 -169 -393 -268 -102 -98 -162 -177 -212 -282 -185 -390 44
-803 605 -1088 341 -174 743 -282 1240 -333 161 -16 649 -16 810 0 722 74
1304 288 1633 601 270 257 344 542 212 820 -50 105 -110 184 -212 282 -265
252 -730 455 -1258 549 -66 12 -121 23 -122 23 0 1 24 45 54 97 99 171 285
521 374 705 206 424 319 739 345 960 7 57 6 59 -11 45 -16 -13 -124 -16 -779
-20 l-761 -5 -3 -31 c-2 -23 8 -46 45 -96 89 -122 47 -112 499 -118 374 -5
393 -6 414 -25 20 -18 22 -27 17 -85 -10 -115 -82 -294 -170 -425 -61 -91
-201 -223 -295 -279 -269 -160 -604 -175 -877 -39 -277 138 -479 413 -540 736
-17 92 -20 311 -4 407 16 102 80 277 134 369 57 97 190 243 280 306 76 54 180
106 270 135 96 31 356 40 459 16 169 -40 334 -133 462 -261 41 -41 88 -82 104
-90 24 -12 84 -15 350 -15 l320 0 -15 38 c-25 58 -104 191 -154 257 -276 364
-708 577 -1196 590 -88 2 -191 0 -229 -5z m1026 -3230 c157 -51 362 -152 463
-227 153 -114 261 -252 299 -382 20 -70 20 -202 0 -272 -56 -190 -239 -373
-509 -505 -309 -151 -659 -224 -1080 -224 -421 0 -771 73 -1080 224 -270 132
-453 315 -509 505 -20 70 -20 202 0 272 56 190 240 373 509 505 110 54 321
134 352 134 5 0 61 -87 123 -192 229 -386 576 -938 590 -938 14 0 356 543 570
905 130 220 139 235 145 235 2 0 60 -18 127 -40z" />
                        </g>
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <!-- Add this HTML where you want the navigation bar to appear -->
    <div class="navbar fixed-bottom rounded-pill custom-bottom-navbar">
        <li class="nav-item custom-nav-item">
            <a id="explore-logo" class="text-light onhover" asp-area="" asp-controller="Home" asp-action="Explore">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="white"
                        d="M23.832 19.641l-6.821-6.821c2.834-5.878-1.45-12.82-8.065-12.82-4.932 0-8.946 4.014-8.946 8.947 0 6.508 6.739 10.798 12.601 8.166l6.879 6.879c1.957.164 4.52-2.326 4.352-4.351zm-14.886-4.721c-3.293 0-5.973-2.68-5.973-5.973s2.68-5.973 5.973-5.973c3.294 0 5.974 2.68 5.974 5.973s-2.68 5.973-5.974 5.973z" />
                </svg>
            </a>
        </li>
        <li  class="nav-item custom-nav-item">
            <a id="favorites-logo" class="text-light onhover" asp-area="" asp-controller="Favorites" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="white" d="M19 24l-7-6-7 6v-24h14v24z" />
                </svg>
            </a>
        </li>
        <li  class="nav-item custom-nav-item">
            <a id="history-logo" class="text-light onhover" asp-area="" asp-controller="Home" asp-action="History">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="white"
                        d="M24 12c0 6.627-5.373 12-12 12s-12-5.373-12-12h2c0 5.514 4.486 10 10 10s10-4.486 10-10-4.486-10-10-10c-2.777 0-5.287 1.141-7.099 2.977l2.061 2.061-6.962 1.354 1.305-7.013 2.179 2.18c2.172-2.196 5.182-3.559 8.516-3.559 6.627 0 12 5.373 12 12zm-13-6v8h7v-2h-5v-6h-2z" />
                </svg>
            </a>
        </li>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/7ef5bbff13.js" crossorigin="anonymous"></script>
    <script type="module" src="~/js/util/tags.js" asp-append-version="true"></script>
    <script type="module" src="~/js/util/showUnauthorizedLoginModal.js"></script>
    <script type="module" src="~/js/util/formatStartTime.js"></script>
    <script type="module" src="~/js/util/getNearestCityAndState.js"></script>
    <script type="module" src="~/js/util/loadMapScript.js"></script>
    <script type="module" src="~/js/api/favorites/onClickFavorite.js" asp-append-version="true"></script>
    <script type="module" src="~/js/util/toast.js"></script>
    <script type="module" src="~/js/util/mapFetching.js"></script>
    <script type="module" src="~/js/ui/buildEventCard.js"></script>
    <script type="module" src="~/js/api/favorites/getEventIsFavorited.js"></script>
    <script src="~/js/layout.js"></script>
    <!-- Example of including your JavaScript files as modules -->
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
