/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Styles for min-width: 320px  - Mobile S */
#main-content-container {
  padding: 0rem;
  margin-top: 1.5rem;
}

.button-container {
  margin-left: 45vw;
}

.push-left {
  margin-left: -46px; 
  margin-top: -66px;
}

.minimized-navbar {
  /* position: fixed; */
  bottom: -15px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* background-color: white; */
  margin-left: 37.5vw;
  width: 25vw;
  height: 50px;
  background-color: #1E1E1E;
  border: 1.5px solid #595959; /* Adjust border thickness and color as needed */
}

.custom-bottom-navbar {
  /* display: flex;
  flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  background-color: #1E1E1E;
  margin: 20px 20px -12px 20px;
  padding: 15px 0;
  width: 65vw;
  /* position: fixed; */
  left: 45%;
  transform: translateX(-50%);
  border: 1.5px solid #595959; /* Adjust border thickness and color as needed */
}

/* Styles for min-width: 375px  - Mobile M */
/* Styles for min-width: 425px  - Mobile L */
@media (min-width: 425px) {
  .custom-bottom-navbar {
    width:50vw;
    left: 47.5%;
  }
}

/* Styles for min-width: <576 - xs Bootstrap breakpoint */
@media (min-width: 576px) {
  #main-content-container {
      padding: 0rem 3rem;
      margin-top: -0.5rem;
  }

  .button-container {
      margin-left: 20vw;
  }

  .push-left {
      margin-left: -200px; 
      margin-top: -110px;
  }

  .custom-bottom-navbar {
    width: 45vw;
  }
}
/* Styles for min-width: 768px  - Tablet and Bootstrap md breakpoint*/
@media (min-width: 768px) {
  .push-left {
      margin-top: 0px;
  }

  .button-container {
      margin-left: 10vw;
  }

  .image-container img {
      margin-left: 96px;
      margin-top: 30px;
  }
}

/* Styles for min-width: 992px - Bootstrap lg breakpoint */
@media (min-width: 992px) {
  .image-container img {
    margin-left: 88px;
    margin-top: 0px;
  }

  .custom-bottom-navbar {
    width: 40vw;
  }
}

/* Styles for min-width: 1024px - Laptop */
@media (min-width: 1024px){
  .push-left {
      margin-top: -45px;
  }

  .custom-bottom-navbar {
    width: 35vw;
  }
}
/* Styles for min-width: 1200px - Bootstrap xl breakpoint */
@media (min-width: 1200px) {
  .button-container {
      margin-left: 7vw;
  }

  .custom-bottom-navbar {
    width: 30vw;
  }
}
/* Styles for min-width: 1400px - Bootstrap xxl breakpoint */
@media (min-width: 1400px) {
  .close-navbar-2 {
    margin-bottom: 27%;
  }

  .custom-bottom-navbar {
    width: 25vw;
  }

  /* .minimized-navbar {
    bottom: -60px;
    margin-left: 42.5vw;
    width: 15vw;
    height: 100px;
  } */
}
/* Styles for min-width: 1440px - Laptop L */

/* Styles for min-width: 1600px */
@media (min-width: 1600px) {
  .custom-bottom-navbar {
    width: 20vw;
  }

  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1500px;
  }
}

/* Styles for min-width: 2560px - 4K */
@media (min-width: 2560px) {
  :root {
    --bs-body-font-size: 1.25rem;
  }

  .button-container {
      margin-left: 3vw;
  }

  .custom-bottom-navbar {
    width: 15vw;
  }

  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 2380px;
  }
}


.navbar-toggler > .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(195, 99, 15, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler.collapsed > .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(200, 200, 200, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.custom-navbar {
  background-color: #1E1E1E;
}


.close-navbar {
  /* position:fixed;
  left: 15px; */
  /* top: 15px; */
  background-color: transparent;
  /* color: white; */
  border: none;
  padding: 0;
  scale: 1.5;
}

.close-navbar-2 {
  /* position: fixed;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: transparent;
  /* color: white; */
  border: none;
  padding: 0;
  scale: 1.5;
  width: 100%;
}

.custom-nav-item {
  padding: 0; /* Remove the padding */
}

.nav-item {
  list-style-type: none;
}

.onhover svg:hover {
  filter: invert(58%) sepia(62%) saturate(3783%) hue-rotate(14deg) brightness(92%) contrast(89%);
  transform: scale(1.2); /* Adjust scale as needed */
  transition: transform 0.3s ease-in-out; /* Optional: smooth transition */
}

.onhover svg:active {
  filter: invert(58%) sepia(62%) saturate(3783%) hue-rotate(14deg) brightness(92%) contrast(89%);
}

.onhover svg.clicked {
  filter: invert(58%) sepia(62%) saturate(3783%) hue-rotate(14deg) brightness(92%) contrast(89%);
}

.nav-link:hover {
  transform: scale(1.5);
}


a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}