<div id="unauthorized-login-modal" class="modal-unauthorized pop-in">
  <div class="modal-content-unauthorized">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Access Restricted</h2>
    </div>
    <div class="modal-body-unauthorized">
      <p>You need to be logged in to access this feature. Please <a aria-label="Login link" style="color: #d35400;" href="/Identity/Account/Login">log in</a> or <a aria-label="Sign up link" style="color: #d35400;"href="/Identity/Account/Register">sign up</a>.</p>
    </div>
  </div>
</div>