<div id="unauthorized-login-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Access Restricted</h2>
    </div>
    <div class="modal-body">
      <p>You need to be logged in to access this feature. Please <a href="/Identity/Account/Login">log in</a> or <a href="/Identity/Account/Register">sign up</a>.</p>
    </div>
  </div>
</div>