@using Microsoft.AspNetCore.Identity
@using PopNGo.Areas.Identity.Data
@inject SignInManager<PopNGoUser> SignInManager
@inject UserManager<PopNGoUser> UserManager

<ul class="navbar-nav navbar-expand-sm flex-grow">
@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item custom-nav-item">
            <a class="nav-link text-light onhover" id="admin-section-access" asp-area="Admin" asp-page="/Index" title="Manage Site">Admin <i class="fa-solid fa-toolbox"></i></a>
        </li>
    }
    <li class="nav-item custom-nav-item">
        @* <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a> *@
        @* <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.FindByNameAsync(User.Identity?.Name).Result.FirstName @UserManager.FindByNameAsync(User.Identity?.Name).Result.LastName</a> *@
        <a class="nav-link text-light onhover" id="profile-section-access" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage Profile">Profile</a>
    </li>
    <li class="nav-item custom-nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-light onhover" id="logout-button">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" id="register-button" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" id="login-button" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
