<!-- Modal -->
<div id="new-itinerary-modal" class="modal pop-in" role="dialog" aria-label="Add a new itinerary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create your itinerary here</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input class="form-control" id="itinerary-title" type="text" placeholder="Enter the title">
            </div>
            <div class="modal-footer">
                <button aria-label="Create itinerary button" type="button" id="save-new-itinerary" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>