@* Button that looks like a bookmark list card but is blank with a big plus in the center *@

<template id="create-new-bookmark-list-card-template">
    <div class="newBookmarkListCard">
        <input id="new-bookmark-list-card-title-input" placeholder=" Enter a name..." type="text" class="newBookmarkListCardTitleInput"/>
        <button class="btn rounded-pill saveNewBookmarkListButton">
            Create List
        </button>
    </div>
</template>
