@* Blank placeholder event card *@
<template id="blank-placeholder-event-card-template">
    <div aria-label="Blank card while events are loading." class="mb-2 placeholder-style" id="event-card-container" style="cursor: default;">
        <!-- Blank card content -->
    </div>
</template>