@* Blank placeholder event card *@
<template id="blank-placeholder-event-card-template">
    <div class="mb-2 placeholder-style" id="event-card-container">
        <!-- Blank card content -->
    </div>
</template>