<div id="recaptcha-modal" class="modal-unauthorized pop-in">
  <div class="modal-content-unauthorized">
    <div class="modal-header">
      <h2>Please confirm you're not a robot:</h2>
    </div>
    <div class="modal-body-unauthorized">
      <div class="g-recaptcha" data-callback="onSubmitGoogleCheckmarkCaptcha" data-sitekey="6Lf_YOApAAAAAGfbPfE_fXzKnZmauEvmFyO4CX1U"></div>
    </div>
  </div>
</div>
