<div id="view-venue-modal" class="pop-in" role="dialog">
    <!-- Modal content -->
    <div class="modal-dialog-2 modal-extra-lg" role="document">
        <div class="modal-content-2">
            <h2 id="modal-title" class="modal-headers">Venue Information</h2>
            <div id="modal-description" class="modal-description-text">
                Here is some information about the venue.
            </div>

            <h5 class="modal-headers">Venue Name</h5>
            <div id="modal-venue-name" class="modal-description-text">
                <!-- Venue name will be inserted here -->
            </div>

            <h5 class="modal-headers">Venue Location</h5>
            <div id="modal-venue-location" class="modal-description-text">
                <!-- Venue location will be inserted here -->
            </div>

            <h5 class="modal-headers">Additional Information</h5>
            <div id="modal-venue-additional-info" class="modal-description-text">
                <!-- Any additional information about the venue will be inserted here -->
            </div>
        </div>
    </div>
</div>