<div id="view-venue-modal" class="pop-in" role="dialog">
    <!-- Modal content -->
    <div class="modal-dialog venue-modal-body" role="document">

        <div class="modal-header">
            <h2 id="venue-modal-title" class="modal-title">Event Venue Title</h2>
            <div id="venue-modal-rating">
                <span id="venue-modal-rating">(4.5)</span>
                @* <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span> *@
            </div>
        </div>
        
        <div class="modal-content-2">
            <h5 id="venue-modal-full-address" class="prepend-image-address">123 East Address, City, State ZIP</h5>

            <h5 id="venue-modal-phone" class="prepend-image-phone">555-333-1231</h5>

            <h5 id="venue-modal-website" class="prepend-image-website"><a class="venue-website-link" href="http://www.example.com" target="_blank">Venue Website</a></h5>
        </div>
    </div>
</div>