<!-- 
Example Response:

{
    "google_id": "0x54eaa8468b80e28b:0xe3614d21273b91bc",
    "name": "Grace Church",
    "phone_number": "+15036234961",
    "website": "https://www.graceindallas.org/",
    "review_count": 40,
    "rating": 4.9,
    "subtype": "church",
    "subtypes": [
        "church",
        "association_or_organization",
        "establishment",
        "establishment_poi",
        "feature",
        "place_of_worship",
        "places_of_interest",
        "potentially_sensitive_entity",
        "public_api_establishment",
        "religious_institution"
    ],
    "full_address": "598 East Ellendale Avenue, Dallas, OR 97338, United States",
    "latitude": 44.93137,
    "longitude": -123.30282,
    "street_number": "598",
    "street": "East Ellendale Avenue",
    "city": "Dallas",
    "state": "Oregon",
    "country": "US",
    "timezone": "America/Los_Angeles",
    "google_mid": "/g/1tdzqwd8"
}

Information needed:
Name, phone number, website, rating, full address
-->
<div id="view-venue-modal" class="pop-in" role="dialog">
    <!-- Modal content -->
    <div class="modal-dialog-2 modal-extra-lg venue-modal-body" role="document">

        <div class="modal-header">
            <h2 id="venue-modal-title" class="modal-title">Event Venue Title</h2>
            <div id="venue-modal-rating">
                <span id="venue-modal-rating">(4.5)</span>
                @* <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span> *@
            </div>
        </div>
        
        <div class="modal-content-2">
            <h5 id="venue-modal-full-address" class="prepend-image-address">123 East Address, City, State ZIP</h5>

            <h5 id="venue-modal-phone" class="prepend-image-phone">555-333-1231</h5>

            <h5 id="venue-modal-website" class="prepend-image-website"><a class="venue-website-link" href="http://www.example.com" target="_blank">Venue Website</a></h5>
        </div>
    </div>
</div>