@{
    ViewData["Title"] = "Map";
}

<partial name="EventSearch" />


<div id="container" style="display: flex;">
    <div id="event-info" style="display: none; width: 100vw;">
        <h2 id="name"></h2>
        <p id="date"></p>
        <p id="description"></p>
        <img id="image" src="" alt="Event Image">
        <div id="tags" class="px-3 tags"></div>
    </div>
    <div id="demo-map-id" style="width: 100vw;">
        <!-- Map goes here -->
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/map.js"></script>
}