@{
    ViewData["Title"] = "Map";
}

@section Styles {
    <link href="~/css/components/searchbar.css" rel="stylesheet" />
}

<partial name="EventSearch" />
@* This is to load the unauthorized modal that can be found in Shared/_LoginUnauthorizedModal.cshtml*@
<partial name="_LoginUnauthorizedModal" />

<div id="container" style="display: flex;">
    <div id="event-info" class="p-3" style="display: none; width: 100vw;">
        <div style="position: relative; height: 50%;">
            <img id="image" src="" class="align-self-center rounded-3" alt="Event Image">
            <div class="rounded-3" id="img-overlay"></div>
            <h2 class="text-light" id="name"></h2>
            <img id="heart-icon" alt="Favorite event"/>
        </div>
        <div class="p-4 mt-3 bg-black bg-opacity-25 shadow-sm rounded-3 flex-fill">
            <div class="date-and-tags">
                <p class="text-light p-2 bg-orange rounded-pill" id="date"></p>
                <div id="tags" class="p-2"></div>
            </div>
            <p class="text-light" id="description"></p>
        </div>
    </div>
    <div id="demo-map-id" style="width: 100vw;">
        <!-- Map goes here -->
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/map.js"></script>
}